<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.foodMgn.dao.NoticeMapper">
	<select id="selectNoticeByAll" resultType="Notice">
		select * from notice order by no_no desc
	</select>
	
	<select id="selectNoticeByAll2" resultType="Notice">
		select * from notice
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		insert into notice(no_title, no_content, no_regdate, no_writer) values (#{noTitle},#{noContent},#{noRegdate},#{noWriter})	
	</insert>
	
	<select id="selectNoticeByNo" parameterType="Notice" resultType="Notice">
		select * from notice where no_no = #{noNo}
	</select>
	
	<select id="selectListPage" resultType="Notice" parameterType="map">
		select * from notice where no_delete = false order by no_no desc limit #{startRow}, #{size}
	</select>
	
	<select id="selectTotalCount" resultType="java.lang.Integer">
		select count(no_no) from notice
	</select>
	
	<update id="updateReadNt" parameterType="Notice">
		update notice set no_read_nt = #{noReadNt} where no_no = #{noNo}
	</update>
	
	<delete id="deleteNotice" parameterType="Notice">
		update notice set no_delete = #{noDelete} where no_no = #{noNo}
	</delete>
	
	<update id="updateNotice" parameterType="Notice">
		update notice set no_title = #{noTitle}, no_content = #{noContent}, no_moddate = #{noModdate} where no_no = #{noNo}
	</update>
	
	<select id="selectNoticeByTitle" resultType="Notice" parameterType="Notice">
		select * from notice where no_title like concat('%',#{noTitle},'%') order by no_no desc
	</select>
	
	<select id="selectNoticeByContent" resultType="Notice" parameterType="Notice">
		select * from notice where no_content like concat('%',#{noContent},'%') order by no_no desc
	</select>
	
	<select id="selectNoticeByTitleandContent" resultType="Notice" parameterType="Notice">
		select * from notice where no_content like concat('%',#{noContent},'%') or no_title like concat('%',#{noTitle},'%')  order by no_no desc
	</select>
</mapper>