<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.foodMgn.dao.PaymentMapper">
	<resultMap type="Payment" id="resultPayment">
		<result property="payNo" column="payNo" />
		<result property="payTime" column="payTime" />
		<result property="payMenu" column="payMenu" />
		<result property="payPrice" column="PayPrice" />
		<result property="payType" column="payType" />
		<result property="payMember" column="payMemeber" />
		<result property="payDiscountInfo" column="payDiscountInfo"/>
		<result property="payDiscountPrice" column="payDiscountPrice"/>
		<result property="payCancel" column="payCancel"/>
		<result property="payMemberNo" column="payMemberNo"/>
	</resultMap>
	
	<select id="selectPaymentByAll" resultMap="resultPayment">
		select payNo,payTime,payMenu,payPrice,payDiscountInfo,payDiscountPrice,payType,payMemeber,payCancel,payMemberNo from payment
	</select>
	
	<select id="selectPaymentByDate" resultMap="resultPayment">
		select payNo,payTime,payMenu,payPrice,payDiscountInfo,payDiscountPrice,payType,payMemeber,payCancel,payMemberNo from payment where payTime like CONCAT( #{date}, '%')
	</select>
	
	
	<select id="selectPaymentByAll2" resultMap="resultPayment">
		select payNo,payTime,payMenu,payPrice,payDiscountInfo,payDiscountPrice,payType,payMemeber,payCancel,payMemberNo from payment where payMemberNo=#{no}
	</select>
	
	<select id="selectPaymentByDate2" parameterType="map" resultMap="resultPayment">
		select payNo,payTime,payMenu,payPrice,payDiscountInfo,payDiscountPrice,payType,payMemeber,payCancel,payMemberNo from payment where payMemberNo=#{no} and payTime like CONCAT( #{date}, '%')
	</select>
	
	<select id="selectPaytmentByDateRange"  parameterType="map" resultMap="resultPayment" >
		select payNo,payTime,payMenu,payPrice,payDiscountInfo,payDiscountPrice,payType,payMemeber,payCancel,payMemberNo from payment where payTime &gt; concat(#{date},'%') and payTime &lt; concat(adddate(#{date2},1),'%') order by payTime;
	</select>	
	<select id="selectPaytmentByDateRange2"  parameterType="map" resultMap="resultPayment" >
		select payNo,payTime,payMenu,payPrice,payDiscountInfo,payDiscountPrice,payType,payMemeber,payCancel,payMemberNo from payment where payMemberNo=#{no} and payTime &gt; concat(#{date},'%') and payTime &lt; concat(adddate(#{date2},1),'%') order by payTime;
	</select>	
	
</mapper>