@charset "UTF-8";

@media all and (max-width:767px) {
	body {
		background-color: #e8e2dc;
	}
	header {
		background-color: white;
	}
	.s_visu1, #s_visu1_2 {
		width: 100%;
		background-color: #e8e2dc;
	}
	#s_visu1_1, #menu_li, #menu_li2 {
		display: none;
	}
	#s_visu1_2 img{
		width: 100%;
	}
	#login_content > p {
		text-align: center;
		color: #55423b;
		padding-top: 80px;
		font-size: 32px;
		font-weight: bold;
	}
	.title {
		color: #787878;
		font-size: 0.8em;
		margin-top: 20px;
		text-align: center;
	}
	.txt {
		display: none;
	}
	#loginBox, #loginBox2 {
		display: none;
	}
	#loginBoxMobile {
		margin: 20px auto;
		width: 90%;
	}
	#loginBoxMobile  div {
		width: 100%;
		text-align: center;
	}
	input[type="text"], input[type="password"] {
		padding: 7px 5px;
		margin-bottom: 5px;
	}
	input[type="submit"] {
		background-color: #3f87dc;
		border: 1px solid #3f87dc;
		color: white;
		padding: 10px 30px;
		font-weight: bold;
		cursor: pointer;
		margin-top: 5px;
	}
	.reg2 {
      color: red;
      font-size: 0.8em;
      display: none;
      margin: 5px;
   }
	.reg {
		display: none;
	}
	#loginBox2Mobile {
		width: 100%;
		margin: 40px 0;
	}
	#loginBox2Mobile ul {
		overflow: hidden;
		margin: 0 auto;
		width: 80%;
	}
	#loginBox2Mobile li {
		float: left;
		border-right: 1px solid #aaa;
		padding-top: 12px;
		width: 32%;
		padding-left: 5px;
	}
	#loginBox2Mobile li:last-child {
		border-right: none;
		padding-top: 20px;
		padding-left: 0;
	}
	#loginBox2Mobile span {
		display: block;
		width: 100px;
		height: 50px;
		color: #787878;
		font-weight: bold;
		font-size: 0.9em;
		text-align: center;
		margin-right: 0;
	}
}

@media screen and (min-width:768px) {
	.s_visu1 {
		width: 100%;
		height: 350px;
	}
	
	.s_visu1 img{
		width: 100%;
		height: 350px;
	}
	#s_visu1_2 {
		display: none;
	}
	.content {
		position: relative;
		width: 1000px;
		margin: 0 auto;
		padding: 20px 0;
		overflow: hidden;
		clear: both;
	}
	#menu_li {
		border: 1px solid #887c75;
		width: 200px;
		height: 25px;
		line-height: 25px;
		padding: 10px 0;
		background-color: #f2efec;
		font-size: 15px;
		text-indent: 16px;
		position: relative;
		cursor: pointer;
		float: left;
	}
	#menu_li2 {
		float: right;                 
	}
	#menu_li2 li {
		list-style: none;
		float: left;
		padding: 5px; 
	}
	.li_img {
		background: url("../images/menu/s_menu_bg.gif") no-repeat;
		position: absolute;
		top: 20px;
		right: 10px;
		width: 20px;
		height: 10px;
	}
	#menulist {
		display: none;
		width: 200px;
		position: absolute;
		top: 46px;
		left: -1px;
	}
	#menulist li {
		border: 1px solid #887c75;
		border-bottom: 1px dotted #887c75;
		border-top: none;
		width: 200px;
		height: 20px;
		line-height: 20px;
		padding: 10px 0;
		background-color: #f2efec;
	}
	#menulist li:hover {
		background-color: #887c75;
	}
	#menulist li:hover a {
		color: white;
	}
	#menulist li a {
		color: black;
		padding: 10px;
	}
	#menulist li:last-child {
		border-bottom: 1px solid #887c75;
	}
	
	
	#login_content > p {
		padding-top: 20px;
		text-align: center;
		font-size: 32px;
		color: #55423b;
		line-height: 32px;
		font-weight: bolder;
		letter-spacing: -0.1em;
		font-family: "굴림";
	}
	#login_center {
		text-align: center;
		margin: 50px 0 30px;
	}
	.title {
		font-size: 2.2em;
		color: #232423;
		margin-top: 20px;
		letter-spacing: -0.1em;
		font-family: "굴림";
	}
	.txt {
		color: #777;
		margin: 15px 0 10px;
	}
	#loginBoxMobile, #loginBox2Mobile {
		display: none;
	}
	#loginBox {
		border: 1px solid #e7e7e7;
		padding: 30px 0 30px;
		width: 750px;
		margin: 0 auto;
	}
	#loginBox form {
		width: 550px;
		margin: 20px auto;
	}
	#loginBox input {
		padding: 5px;
	}
	#loginBox input[type="submit"] {
		background-color: #3f87dc;
		border: 1px solid #3f87dc;
		color: white;
		padding: 30px 20px;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;
		margin-left: 15px;
	}
	.loginimg {
		padding-right: 25px;
	}
	.under {
		border-bottom: 1px solid #c7a593;
		width: 70px;
		padding-right: 5px;
	}
	.under2 {
		border-bottom: 1px solid #c7a593;
	}
	#loginBox2 {
		width: 750px;
		margin: 30px auto;
		margin-bottom: 50px;
		overflow: hidden;
	}
	#loginBox2 li {
		float: left;
		width: 248px;
		text-align: center;
	}          
	#loginBox2 li:nth-child(2) {
		border-left: 1px dotted #999;
		border-right: 1px dotted #999;
	}
	#loginBox2 button {
		background-color: #777;
		color: white;
		font-weight: bold;
		padding: 5px 10px;
		border: none;
		cursor: pointer;
	}
	#loginBox2 button:hover {
		background-color: #087ec5;
	}
	.txt2 {
		color: #777;
		margin: 10px 0 15px;
		font-size: 0.9em;
	}
	.reg {
      color: red;
      font-size: 0.8em;
      display: none;
      margin: 5px;
   }
	.reg2 {
		display: none;
	}
}