@charset "UTF-8";
.s_visu1 {
	width: 100%;
	height: 350px;
}
.s_visu1 img {
	width: 100%;
	height: 350px;
}
div#wrap{
	width: 1200px;
	min-height:1000px;
	margin: 0 auto;
	overflow: hidden;	
	padding-left: 100px;
}

#wrap div#pay_1{
	width: 700px;
	height:90%;
	float:left;
}

#wrap div#pay_2{
	width: 400px;
	height:90%;
	float:left;	
}

/* 주문정보 */

#pay_1 div#order_info{
	width: 90%;
	min-height: 300px;
	margin-bottom: 30px;
	background-color: #F7F7F7;	
	border-bottom: 2px solid #c7a593;
	border-top: 2px solid #c7a593;
	padding:15px;
} 

table{
	width: 500px;
	border-collapse: collapse;
	border-top: 2px solid #55423b !important;
}

table,th,td{
	 border: 1px solid #dedede;
}

th{
	 background: #f3f0ed;
	 height: 40px;
}




/* 쿠폰/마일리지 */
#pay_1 div#sale_info{
	width: 90%;
	margin-bottom: 30px;	
	background-color: #F7F7F7;
	border-bottom: 2px solid #c7a593;
	border-top: 2px solid #c7a593;
	padding:15px;
}

#sale_detail_1, #sale_detail_2, #sale_detail_3{
	display: none;
}

#coupon_p{
	margin-bottom: 15px;	
}

 
/* 결제정보 */
#pay_1 div#pay_info{
	width: 90%;
	margin-bottom: 30px;	
	background-color: #F7F7F7;
	border-bottom: 2px solid #c7a593;
	border-top: 2px solid #c7a593;
	padding:15px;
} 

.brown_1{
	font-size: 25px;
    font-weight: bold;
    color: #814b34;
    margin-bottom: 20px;
}


/* 주문자 정보 */
#buyer_info{
	width: 90%;
	min-height: 180px;
	margin-bottom: 30px;	
	background-color: #F7F7F7;
	border-bottom: 2px solid #c7a593;
	border-top: 2px solid #c7a593;
	padding:15px;
}
/* 결제금액 */
#pay_price{
	width:90%;
	min-height: 180px;
	margin-bottom: 30px;	
	background-color: #F7F7F7;
	border-bottom: 2px solid #c7a593;
	border-top: 2px solid #c7a593;
	padding:15px;
}


.font_1{
	font-size: 17px;
	font-weight: bold;	
}
.font_2{
	font-weight: bold;
	color:#3f87dc;	
}
.font_3{
	font-weight: bold;
	color:red;	
}
.font_4{
	font-weight: bold;
	font-size: 25px;
	color:#d6673b;	
}

/* 걸제버튼 */

#pay_button{
	width: 100%;
	height: 80px;
	background: #dcd2c8;
	color: #814b34;
	font-size: 28px;
	font-weight: bold;
	border: 0;
}



